<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include header.html %}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
	{% if post.title == site.posts.first.title %}
	   {{post.content}}
	{% else %}
	   {{post.excerpt}}
	   <a href={{post.url | prepend: site.baseurl}}>Read More...</a>
	{% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
{% include footer.html}
</html>
